<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Heart.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 38}, {80, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{80, 74}</string>
			<key>spriteSourceSize</key>
			<string>{80, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{686, 396}, {80, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Star.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 42}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -14}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 224}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-back-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 56}</string>
			<key>spriteSourceSize</key>
			<string>{100, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{820, 306}, {100, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-back-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 56}</string>
			<key>spriteSourceSize</key>
			<string>{100, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{922, 282}, {100, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-back.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 56}</string>
			<key>spriteSourceSize</key>
			<string>{100, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{922, 224}, {100, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 28}</string>
			<key>spriteSourceSize</key>
			<string>{28, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 190}, {28, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buy-source-code-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 148}</string>
			<key>spriteSourceSize</key>
			<string>{200, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 266}, {200, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buy-source-code-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 148}</string>
			<key>spriteSourceSize</key>
			<string>{200, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 266}, {200, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 20}</string>
			<key>spriteSize</key>
			<string>{160, 80}</string>
			<key>spriteSourceSize</key>
			<string>{160, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{658, 314}, {160, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car_top_view.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 96}</string>
			<key>spriteSourceSize</key>
			<string>{60, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 84}, {60, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chain.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 12}</string>
			<key>spriteSourceSize</key>
			<string>{40, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 190}, {40, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chain_ball.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{40, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 182}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemycar.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 40}</string>
			<key>spriteSourceSize</key>
			<string>{128, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 224}, {128, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>invisible.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 2}, {16, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>portal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 62}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 396}, {58, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sapus_girl_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 416}, {88, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sapus_girl_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 416}, {88, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sapus_girl_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {88, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{88, 84}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 328}, {88, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spinner.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {262, 262}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{262, 262}</string>
			<key>spriteSourceSize</key>
			<string>{262, 262}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {262, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite_enemy_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 224}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite_fruit_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 48}</string>
			<key>spriteSourceSize</key>
			<string>{40, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 460}, {40, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite_hero_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 80}</string>
			<key>spriteSourceSize</key>
			<string>{116, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 2}, {116, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite_hole_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{40, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 224}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite_princess_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 2}, {74, 104}}</string>
			<key>spriteOffset</key>
			<string>{1, 10}</string>
			<key>spriteSize</key>
			<string>{74, 104}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 84}, {74, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>visit-levelsvg-homepage-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {600, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{600, 72}</string>
			<key>spriteSourceSize</key>
			<string>{600, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 76}, {600, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>visit-levelsvg-homepage-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {600, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{600, 72}</string>
			<key>spriteSourceSize</key>
			<string>{600, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 2}, {600, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>visit-levelsvg-homepage.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {600, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{600, 72}</string>
			<key>spriteSourceSize</key>
			<string>{600, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 150}, {600, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-left_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 0}, {52, 86}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{52, 86}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{540, 326}, {52, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-left_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {38, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{38, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{496, 414}, {38, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-left_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {30, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{600, 404}, {30, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-left_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {30, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578, 224}, {30, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-left_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 0}, {42, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{42, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 416}, {42, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-left_06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {30, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{626, 314}, {30, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-left_07.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {30, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 414}, {30, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-left_08.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 0}, {46, 88}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{46, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 416}, {46, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-right_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {52, 86}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{52, 86}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{632, 404}, {52, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-right_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 0}, {38, 88}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{38, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 414}, {38, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-right_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 0}, {30, 88}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{568, 414}, {30, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-right_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 0}, {30, 88}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 224}, {30, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-right_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {42, 88}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{42, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 414}, {42, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-right_06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 0}, {30, 88}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 314}, {30, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-right_07.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 0}, {30, 88}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{610, 224}, {30, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-right_08.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {46, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{46, 88}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{272, 416}, {46, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-up_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 10}, {42, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{42, 92}</string>
			<key>spriteSourceSize</key>
			<string>{102, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{48, 416}, {42, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-up_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {44, 100}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{44, 100}</string>
			<key>spriteSourceSize</key>
			<string>{102, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 224}, {44, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-up_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {36, 102}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{36, 102}</string>
			<key>spriteSourceSize</key>
			<string>{102, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 224}, {36, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-up_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 10}, {44, 92}}</string>
			<key>spriteOffset</key>
			<string>{-5, -5}</string>
			<key>spriteSize</key>
			<string>{44, 92}</string>
			<key>spriteSourceSize</key>
			<string>{102, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 416}, {44, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-up_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 0}, {46, 100}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{46, 100}</string>
			<key>spriteSourceSize</key>
			<string>{102, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 224}, {46, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk-up_06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {38, 102}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{38, 102}</string>
			<key>spriteSourceSize</key>
			<string>{102, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 266}, {38, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wheel.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 42}</string>
			<key>spriteSourceSize</key>
			<string>{42, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 370}, {42, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>